@import '../mixins';

.ypg-metabox-wrapper {
	display: flex;
	gap: 5px;
	margin-bottom: 1rem;

	label {
		font-weight: 500;
	}
}

.flex-column {
	@include flex-direction( column );
}

.flex-row {
	@include flex-direction( row );
}
