# Exclude development files from `git archive` (e.g. GitHub ZIP downloads)

/.editorconfig         export-ignore
/.gitattributes        export-ignore
/.gitignore            export-ignore
/.github               export-ignore
/.nvmrc                export-ignore
/.php-cs-fixer.php     export-ignore
/.php-cs-fixer.cache   export-ignore
/.prettierignore       export-ignore
/.vscode               export-ignore

/eslint.config.js      export-ignore
/lefthook.yml          export-ignore
/package.json          export-ignore
/pnpm-lock.yaml        export-ignore
/prettier.config.js    export-ignore
/stylelint.config.js   export-ignore
/vite.config.js        export-ignore

/resources             export-ignore
/tests                 export-ignore
