# Default registry for all packages
registry=https://registry.npmjs.org

# Scoped package registry for @yardinternet
@yardinternet:registry=https://npm.pkg.github.com

# Prevent updating to releases younger than 7 days
minimum-release-age=10080

# Exclude own packages from minimum release age check
minimum-release-age-exclude=@yardinternet/*
