.ypg-review-modal {
	position: fixed;
	z-index: 60;
	top: 45vh;
	right: 20px;
	padding: 40px 50px;
	border: 1px solid #b5b5b5;
	border-radius: 10px;
	background: #fff;
	box-shadow: 0px 2px 50px 0px rgba(157, 157, 157, 0.25);
	cursor: grab;
	font-family: 'inter-variable', sans-serif;
	transition-duration: 0.25s;
	transition-property: visibility, opacity;
	transition-timing-function: ease;

	@media screen and (max-width: 1024px) {
		top: 20vh;
	}

	* {
		max-width: min(50vw, 390px);
	}

	.title {
		margin-bottom: 8px;
		font-family: 'acumin-pro', sans-serif;
		font-size: 20px;
		font-weight: 700;
	}

	.description {
		margin-bottom: 16px;
	}

	.close-modal {
		position: absolute;
		top: 1rem;
		right: 1rem;
		display: flex;
		border: none;
		background: none;
		font-size: 18px;
	}

	.ypg-review-form {
		.ypg-alert {
			display: flex;
			flex-direction: column;
			align-items: center;
			row-gap: 20px;

			svg {
				animation: ypg-pop-in 0.4s forwards;
				transform: scale(0);
			}

			p {
				margin-bottom: 0;
				text-align: center;
			}
		}

		.ypg-alert.ypg-success {
			svg {
				color: #298734;
			}
		}

		.ypg-alert.ypg-error {
			svg {
				color: #ce2121;
			}
		}

		button[type='submit'] {
			display: flex;
			align-items: center;
			padding: 10px 28px;
			border: none;
			border-radius: 10px;
			background-color: #298734;
			color: #fff;
			gap: 14px;
			transition: transform 0.25s ease-in-out;
		}

		button[type='submit']:hover {
			transform: scale(1.025);
		}
	}
}

.ypg-review-modal.closed {
	opacity: 0;
	visibility: hidden;
}

@keyframes ypg-pop-in {
	0% {
		opacity: 0;
		transform: scale(0);
	}

	50% {
		opacity: 1;
		transform: scale(1.2);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}
